<div>
  <% if notice %>
      <p class="notification notice">
        <%= notice %>
      </p>
  <% end %>

  <% if alert %>
      <p class="notification alert">
        <%= alert %>
      </p>
      <%end%>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email, 'Email:' %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div class="actions">
      <%= submit_tag "Login" %>
    </div>
<% end %>
    </div>
